@use "@/assets/styles/variables" as *;

.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 0 clamp(5px, 3vw, 20px);

    position: relative;
    color: $text-color;
    font-family: 'Caligraphic', Arial, sans-serif;
    font-weight: 500;
    text-align: center;

    .top {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .center {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .imgs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .balloonYear {
                width: 13%;
                height: auto;
                position: relative;
                top: -40px;
            }
            .balloon {
                width: 30%;
                height: auto;

                // &:first-child {
                //     rotate: 12deg;
                // }
                // &:last-child {
                //     rotate: -12deg;
                // }
            }
        }
        .container {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
            h2 {
                font-size: clamp(20px, 11vw, 110px);
                font-family: 'caligraphic', Arial, sans-serif;

                &:first-child {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    .bottom {
        width: 100%;
        display: flex;

        img {
            width: 50%;
            height: auto;
        }
    }
}

// @media (min-height: 850px) {
//     .banner {
//         height: 100svh;
//     }
// }
